{% extends 'base.html' %}
{% block content %}
  <article class="post_content">
    <h3>{{article.title}}</h3>
    <p>{{article.body}}</p>
    <p>{{article.author}} | {{article.published_date}}</p>
  </article>
  <article class="comment_section">
    <form class="comment_form" action="{% url 'create_comment' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="blog_post_id" value="{{ article.pk }}">

      <div class="comment_box">
        <!-- <label for="message"><span class="comment_label">Comments</span></label>
        <textarea name="message" rows="8" cols="155" placeholder="Add a comment..."></textarea>

        <input type="text" name="user_name" placeholder="Enter your name..." class="user_box"> -->
        {{form.as_p}}
        <button type="submit" name="submit_button" class="comment_button">
          Post Comment
        </button>
      </div>

    </form>
    <ul class="comment_list">
      {% for comment in article.comments.all %}
        <li><i class="fa fa-user-circle-o" style="font-size: 1em"></i> {{comment.user_name}}: {{comment.message}}</li>
      {% endfor %}
    </ul>
  </article>
{% endblock %}
